{% load static %}

 <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <!--  plugins  -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/aos.js" %}"></script>
    <script src="{% static "js/jquery.form.js" %}"></script>
    <script src="{% static "js/jquery.validate.min.js" %}"></script>

    <!--  main script  -->
    <script src="{% static "js/custom.js" %}"></script>